# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
/.build/

# test build
/test-build

# misc
.DS_Store
.env*

# debug
npm-debug.log*

package-lock.json
pnpm-lock.yaml
yarn.lock

# VSCode
.vscode